<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cv.customviews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sunsai"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".countstep.StepActivity" />
        <activity android:name=".fontcolorchange.ViewPagerActivity" />
        <activity android:name=".loading.LoadingActivity" />
        <activity android:name=".rating.RatingActivity"></activity>
        <activity android:name=".lettersearch.LetterSearchActivity" />
        <activity android:name=".viewsource.ViewDemoActivity" />
        <activity android:name=".stream.StreamActivity" />
        <activity android:name=".viewsource.TouchActivity" />
        <activity android:name=".KgSlidingMenu.SlidingMenuActivity" />
        <activity android:name=".QqSlidingMenu.QqSlidingMenuActivity" />
        <activity android:name=".carhome.VerticalDragActivity" />
        <activity android:name=".loading.LoadingChangeActivity" />
        <activity
            android:name=".statusbar.StatusBarChangeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".statusbar.BehaviorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".morechoose.MoreChooseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".bezier.BezierActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>